<!DOCTYPE html>
<html lang="en-us">
  <%- include('header'); %>

<body>

  <%- include('navbar'); %>

  <h2>WEB 340 - EMS Project</h2>

  <%- include ('footer'); %>
  <%- include ('scripts'); %>

</body>

</html>
