<!DOCTYPE html>
<html lang="en-us">
  <%- include('header'); %>

  <body>
    <%- include('navbar'); %>

    <div class="container text-center p-4">
      <br /><br />

      <h2>WEB 340 - EMS Project</h2>

      <br /><br />
    </div>

    <%- include ('footer'); %>
    <%- include ('scripts'); %>

  </body>

</html>
