<table class="table table-light table-striped table-hover">
  <caption>List of employees</caption>
  <thead class="thead-custom">
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Record</th>
    </tr>
  </thead>
  <tbody>
    <% if (employees.length) { %>
      <% employees.forEach(function (employee) { %>
        <tr>
          <td><%= employee.firstName %></td>
          <td><%= employee.lastName %></td>
          <td><a class="listview" href="/view/<%= employee.lastName%>">VIEW</a></td>
        </tr>
      <% }) %>
    <% } else { %>>
      <tr>
        <td colspan="3">
          No entries!<br />
          <a href="/new" class="listview">Add one!</a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
