<table class="table table-striped table-bordered table-hover">
  <caption>List of employees</caption>
  <thead class="thead-dark">
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <% if (employees.length) { %>
      <% employees.forEach(function (employee) { %>
        <tr>
          <td><%= employee.firstName %></td>
          <td><%= employee.lastName %></td>
        </tr>
      <% }) %>
    <% } else { %>>
      <tr>
        <td>
          No entries!<br />
          Click <a href="/new" class="">Add one!</a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
